@font-face {
    font-family: 'Interstate-RegularItalic';
    src: url('../assets/fonts/Interstate-RegularItalic.woff2') format('woff2'),
        url('../assets/fonts/Interstate-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Interstate';
    src: url('../assets/fonts/Interstate-ExtraLight.woff2') format('woff2'),
        url('../assets/fonts/Interstate-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Interstate';
    src: url('../assets/fonts/Interstate-Regular.woff2') format('woff2'),
        url('../assets/fonts/Interstate-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Interstate LightCondensed';
    src: url('../assets/fonts/Interstate-LightCondensed.woff2') format('woff2'),
        url('../assets/fonts/Interstate-LightCondensed.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Interstate';
    src: url('../assets/fonts/Interstate-Black.woff2') format('woff2'),
        url('../assets/fonts/Interstate-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Interstate';
    src: url('../assets/fonts/Interstate-LightItalic.woff2') format('woff2'),
        url('../assets/fonts/Interstate-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Interstate';
    src: url('../assets/fonts/Interstate-Light.woff2') format('woff2'),
        url('../assets/fonts/Interstate-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}




body {
    font-family: 'Interstate', sans-serif;
    /*font-family: 'Montserrat', sans-serif;*/
    margin: 0;
    font-weight: normal;
    color: #002d72;
    position: absolute;
    top: 0;
}

.home_index {
  overflow: hidden;
}

/*  =============  GENERAL  ==============  */

.white {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: white;
  top: 0;
  z-index: 105;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  z-index: 2;
}

header .cab {
  position: absolute;
  width: 78px;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}

header .menu, p.banner, .main_menu .close {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 50px 60px;
  text-align: center;
  font-size: 68px;
  color: white;
  margin: 0;
  background-color: #004785;
  font-weight: 300;
}

header .menu {
  -webkit-animation: expand 4s infinite ease-in-out;
}

@-webkit-keyframes expand {
  0%, 50%  { width:  186px; }
    
  10%, 40% { width:  340px; }
}

header .menu.open {
  transform: translateX(500px);
  transition: transform 2s;
}

.main_menu {
  display: none;
  position: initial;
  /*height: 1920px;*/
  z-index: 5;
}

.main_menu .close {
  background-color: #890c58;
  right: auto;
  left: 0;
}

p.banner {
  font-size: 65px;
  padding: 60px 20px;
  right: auto;
  left: 0;
  top: 0;
  bottom: auto;
  writing-mode: vertical-lr;
  text-orientation: mixed;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  transform: rotate(180deg);
}



/*  =============  CITI  ==============  */
.welcome {
  position: absolute;
  width: 700px;
  top: 0;
}

.welcome img {
  width: 400px;
}

.welcome p {
  font-size: 42px;
  font-weight: 300;
  margin-bottom: 15px;
}

.welcome p.date {
  font-size: 160px;
  margin: 0;
  line-height: .9;
}

.welcome p.date:nth-child(2) {
  color: #007377;
}

.welcome p.date:nth-child(3) {
  color: #00b0b9;
  font-size: 203px;
}

.homepage video {
  width: 1080px;
  margin-top: 660px;
  display: none;
}

.homepage .active_vid {
  display: block;
}

.background {
  position: absolute;
  width: 1080px;
  left: 0;
  height: 1920px; 
  top: 0;
  z-index: -3;
  opacity: .5;
}

.img_line {
  width: 880px;
  position: absolute;
  right: 50px;
  top: 300px;
}

.links {
  position: absolute;
  top: 365px;
  left: 426px;
}

.links a {
  font-weight: 300;
  color: #004785;
  font-size: 58px;
  margin-bottom: 61px;
  display: block;
  text-decoration: none;
  position: relative;
}

.links a:before {
  content: '';
  width: 50px;
  height: 50px;
  background: red;
  position: absolute;
  left: -150px;
  border-radius: 100%;
  top: 10px;
}

.links a:nth-child(1):before {
  background-color: #c99700;
}

.links a:nth-child(2):before {
  background-color: #00bdf2;
}

.links a:nth-child(3):before {
  background-color: #00b0b9;video
}

.links a:nth-child(4):before {
  background-color: #84bd00;
}

.links a:nth-child(5):before {
  background-color: #c4d600;
}

.links a:nth-child(6):before {
  background-color: #ffcd00;
}

.links a:nth-child(7):before {
  background-color: #ed8b00;
}

.links a:nth-child(8):before {
  background-color: #c6007e;
}

.links a:nth-child(9):before {
  background-color: #007377;
}

.inner_page .links p {
  font-size: 30px;
  width: 600px;
}

.inner_page .links li {
  font-size: 30px;
  width: 600px;
  margin-bottom: 24px;
}

.inner_page .links span {
  color: #004785;
}


.inner_page .img_line {
  width: 980px;
  top: 150px;
}

.inner_page .links {
  top: 165px;
  left: 360px;
}

.booth_page .links {
  left: 283px;
 top: 65px;
 position: relative;
}

.booth_page .answer .answer_btn {
  left: -107px;
}

.scroller {
  height: 1650px;
  overflow: hidden;
  overflow-y: auto;
}

.anim {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: -2;
}

.anim .circle {
  display: none;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  transition: transform 1s;
  z-index: -2;
}

.banner_hold {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: -1;
}

.anim_banner {
  display: none;
  position: relative;
  color: white;
  font-size: 65px;
  margin: 0;
  font-weight: 300;
}

.banner_move {
  display: block;
  transform: rotate(-90deg);
  top:0;
  font-size: 65px;
  left: -300px;
}

.canvas {
  width: 100%;
  height: 100%;
}

.pixel {width: 10px;
  height: 10px;
  float: left;}

#video {
  position: absolute;
}

.countdowner {
  display: none;
}

.survey_count {
  position: absolute;
  left: -179px;
}

.question {
  margin-bottom: 100px;
}

.questions .survey {
  display: none;
}

.questions .survey:first-child {
  display: block;
}

.answer p {
  position: relative;
  margin-bottom: 30px;
    transition: background .3s, padding .3s, color .3s;
}

.answer .answer_btn {
  position: absolute;
  left: -150px;
  margin: 0;
  background: yellow;
  width: 60px !important;
  height: 60px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -6px;
  color: white;
}

.answer p.chosen {
  padding: 10px 20px;
  color: white;
}

.answer:nth-child(1) .answer_btn, .answer:nth-child(12) .answer_btn, .answer:nth-child(23) .answer_btn {
  background: #c99700;
}
.answer:nth-child(2) .answer_btn, .answer:nth-child(13) .answer_btn, .answer:nth-child(24) .answer_btn {
  background: #00bdf2;
}

.answer:nth-child(3) .answer_btn, .answer:nth-child(14) .answer_btn, .answer:nth-child(25) .answer_btn {
  background: #00b0b9;
}

.answer:nth-child(4) .answer_btn, .answer:nth-child(15) .answer_btn, .answer:nth-child(26) .answer_btn {
  background: #84bd00;
}

.answer:nth-child(5) .answer_btn, .answer:nth-child(16) .answer_btn, .answer:nth-child(27) .answer_btn {
  background: #c4d600;
}

.answer:nth-child(6) .answer_btn, .answer:nth-child(17) .answer_btn, .answer:nth-child(28) .answer_btn {
  background: #ffcd00;
}

.answer:nth-child(7) .answer_btn, .answer:nth-child(18) .answer_btn, .answer:nth-child(29) .answer_btn {
  background: #ed8b00;
}

.answer:nth-child(8) .answer_btn, .answer:nth-child(19) .answer_btn, .answer:nth-child(30) .answer_btn {
  background: #c6007e;
}

.answer:nth-child(9) .answer_btn, .answer:nth-child(20) .answer_btn, .answer:nth-child(31) .answer_btn {
  background: #6b3077;
}

.answer:nth-child(10) .answer_btn, .answer:nth-child(21) .answer_btn, .answer:nth-child(32) .answer_btn {
  background: #007377;
}

.answer:nth-child(11) .answer_btn, .answer:nth-child(22) .answer_btn, .answer:nth-child(33) .answer_btn {
  background: #c99700;
}



.survey .button {
  background: #004587;
  border: none;
  left: 0;
  width: 100%;
  margin-top: 80px;
}

.complete {
  font-size: 60px !important;
  display: none;
}


.popup {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.popup .close {
  color: white;
  z-index: 10;
  padding: 50px;
  font-size: 88px;
  font-weight: 300;
}

.off_click {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.popup .holder {
  width: 600px;
  height: auto;
  padding: 100px 50px;
  z-index: 5;
}

.booth_page .popup .close {
  position: absolute;
  bottom: 150px;
}

.popup .holder p {
  font-size: 45px;
  color: white;
}

.popup .slick-slide {
  display: block;
}

#vote {
  display: none;
}

#submit_btn {
  width: 100%;
  padding: 30px 50px;
  color: white;
  border: 2px solid white !important;
  font-size: 34px;
  background: transparent;
  margin-top: 50px;
}

.popup img {
  width: 800px !important;
  height: auto;
  position: relative;
  z-index: 11;
}

.centered {
  width: 70%;
  margin-left: 232px;
  padding-top: 200px;
}

.booths {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.booth {
  margin-bottom: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.booth:last-child {
  border-bottom: none;
}

.booth div {
  width: 16%;
  height: 117px;
  background-color: #007377;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color .3s;
}

.booth div.active {
  box-shadow: 0px 0px 28px #1313138f;
  background-color: #004587;
}

.fa-angle-down {
  font-size: 73px;
  position: absolute;
  right: 50px;
  bottom: 300px;
  -webkit-animation: bounces 2s infinite ease-in-out;
}

@-webkit-keyframes bounces {
  0%, 40%, 80%  { -webkit-transform:  translateY(0); }
    
  20%, 60% { -webkit-transform:  translateY(-30px); }
}
/**/